---
layout: layouts/base.njk
title: Trang chủ 123
description: Trang mẫu Eleventy + Tailwind
---
<h1 class="text-3xl font-semibold mb-4">Xin chào 👋 123</h1>
<p>Đây là trang Eleventy + Tailwind đầu tiên của bạn.</p>
<a class="inline-block mt-6 px-4 py-2 rounded-xl border" href="{{ '/blog/' | url }}">Vào blog</a>
